<h1>{{title}}</h1>
<p> {{1+1}} </p>

<button (click)='chengeTitle()'>cambiar titulo</button>

<input type="text" [(ngModel)]="rockbandsName" (keydown.enter)="addRockbands()"> 
<h1>{{rockbandsName}}</h1>
<button (click)='addRockbands()'>añadir</button>
<button (click)="empty()" >elinar todo</button>


<ul>
  <li *ngIf="rockbands.length ===0">
    no hay 
  </li>
  <li *ngFor="let rock of rockbands; index as i">
    {{rock}} {{i+1}}
    <button (click)="deleteItem(i)" >eliminar</button>
    <button (click)="udateItem(i)" >cabiar</button>
  </li>
 </ul>

 <!--<div *ngIf="rockbandsName === 'kike'">
  ESTO ES REAL
 </div>

 <div *ngIf="rockbandsName === 'el'">
  ESTO ES REAL *2
 </div> -->

 <div [ngSwitch]="rockbandsName">
  <p *ngSwitchCase="'kike'"> kike </p>
  <p *ngSwitchCase="'j'"> es el *2</p>
  <p *ngSwitchDefault> no hay nada</p>
 </div>


 <ul>
  <li *ngFor="let user of users">
    nombre: {{user.name}}
    edad: {{user.age}}
    soltero: {{user.isSingle}}
    <img [src]="user.avatar" alt="">
  </li>
</ul>


 <app-product-list></app-product-list>

